global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus_tst:9090']

  - job_name: 'node_exporter'
    file_sd_configs:
      - files:
        - 'targets.json'

  - job_name: 'aoss-backend'
    static_configs:
      - targets: ['host.docker.internal:8000']
    metrics_path: '/metrics'
    scrape_interval: 5s
